deps
_build
assets/node_modules
node_modules
.releases
.elixir_ls
.pscale
.env
.env.*
*.ez
*.beam
/config/*.secret.exs
/.elixir_ls/
/cover/
/doc/
/test/
/tmp/
priv/static/cache_manifest.json
.mix
assets/.cache
